@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
    --main-font:'Open Sans', sans-serif;
    --secondary-font:'Montserrat', sans-serif;
    --main-color: black;
    --main-background-color: lavender;
    --top-position: 30%;
    font-size: 16px;
}

body {
    font-family: var(--main-font);
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-color);
    background-color: var(--main-background-color);
}

.social-media-links {
    padding: 3%;
    text-align: right;

}

.social-media-links a {
    text-decoration: none;
}

.social-media-links img {
    width: 100%;
    max-width: 30px;
    margin: 0 .5%;
}

.heading {
    position: absolute;
    width: 100%;
    background: url(https://i.picsum.photos/id/1015/6000/4000.jpg?hmac=aHjb0fRa1t14DTIEBcoC12c5rAXOSwnVlaA5ujxPQ0I);
    background-repeat: no-repeat;
    background-position: center;
    clip-path: polygon(100% 50%, 50% 100%, 50% 100%, 50% 0);
    top: calc(var(--top-position) - 20%);
    padding: 12rem 0;
    text-align: center;
}

.heading h1 {
    margin-bottom: 0;
}

.heading h1 a {
    font-family: var(--secondary-font);
    font-size: 6rem;
    color: dimgrey;
    text-decoration:none; 
}

.heading h1 a:hover {
    color: darksalmon;

}

.letter-box {
    color: dimgray;
}

.heading p {
    font-size: 2rem;
    color: var(--main-color);
    margin-top: 0;
}

@media (min-width: 600px) {
    .social-media-links img {
        max-width: 40px;
    }

    .heading {
        clip-path: polygon(100% 50%, 50% 100%, 50% 100%, 50% 0);
        top: calc(var(--top-position) - 20%);
    }
}

@media (min-width: 800px) {
    .heading {
        clip-path: polygon(100% 50%, 50% 100%, 50% 100%, 50% 0);
        top: calc(var(--top-position) - 15%);
    }

    .heading h1 a {
        font-size: 8rem;
    }
}

@media (min-width:1000px) {
    .heading {
        clip-path: polygon(100% 50%, 50% 100%, 50% 100%, 50% 0);
        top: calc(var(--top-position) - 10%);
    }
}

@media (min-width:1200px) {

    body {
        background-image: url(https://i.picsum.photos/id/1015/6000/4000.jpg?hmac=aHjb0fRa1t14DTIEBcoC12c5rAXOSwnVlaA5ujxPQ0I);
        background-repeat: no-repeat;
        background-position: center;
    }

    .heading {
        background:  none;
        clip-path: none;
        padding: 0;
        top: var(--top-position);
    }

    .heading h1 a {
        font-size: 12rem;
        color: black;
    }

    .heading h1 a:hover {
        color: lightslategray;

    }

    .heading p {
        color: lightslategrey;
        font-size: 3rem;
    }
}