body {
    margin: 0;
    box-sizing: border-box;
    background-color: #eee;
}

.heading {
    margin: 0;
}

.logo {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    display: block;
    margin: 0;
    width: 1200px;
    height: 900px;
    max-width: 1200px;
}

@media (min-width:1250px) {
    .logo img {
        border: 2px solid black;
    }
}